appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1602242449753/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1602546686609/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
backports.functools-lru-cache==1.6.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///opt/concourse/worker/volumes/live/74b22aae-8eb9-44eb-6c00-a8a07af62b36/volume/cffi_1600699174113/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1602255311078/work
click==7.1.2
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1602614284246/work
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints @ file:///Users/runner/miniforge3/conda-bld/entrypoints_1602701756740/work/dist/entrypoints-0.3-py2.py3-none-any.whl
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1602682986223/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==5.8.0
ipython-genutils==0.2.0
Jinja2==2.11.2
joblib==0.17.0
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1602537294261/work
jupyterlab==2.2.8
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
kiwisolver==1.2.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1602267318042/work
matplotlib @ file:///opt/concourse/worker/volumes/live/415740a8-e00a-411a-7129-aa05c3842a43/volume/matplotlib-base_1597876353062/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1602381750124/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1602715419750/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1601342677072/work
nltk==3.5
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1602720163229/work
numpy==1.19.2
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///opt/concourse/worker/volumes/live/bfd63b8c-6035-4ed3-5bce-5690df409bf9/volume/pandas_1602088141563/work
pandocfilters==1.4.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///opt/concourse/worker/volumes/live/28f094e1-d4b0-436d-6751-607fa59ce512/volume/pillow_1602788716788/work
praw==7.1.0
prawcore==1.5.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1602259983593/work
pyserial==3.4
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1602326930468/work
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
regex==2020.10.15
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
scikit-learn==0.23.2
scipy @ file:///opt/concourse/worker/volumes/live/9698578f-91da-4d5f-6fce-b26b1f42eb5a/volume/scipy_1597686637948/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Send2Trash==1.5.0
simplegeneric==0.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1602679781088/work
testpath==0.4.4
threadpoolctl==2.1.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1602488900010/work
tqdm==4.50.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
update-checker==0.18.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==0.57.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1602852756910/work
